.App {
  
  .button-add {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    transition: background-color 0.1s;
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 20px;
  }
}

#popup_new-student {
  position: relative;
  z-index: 9;
  inline-size: 550px;

  .p-progress-spinner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: inherit;
    inline-size: 100%;
    block-size: 100%;
  }

  #popup__form {
    display: flex;
    flex-direction: column;
    padding-block-start: 1rem;

    & > fieldset {
      display: grid;
      grid-template-columns: 140px 1fr;
      gap: 2rem 1rem;
      border: none;
      padding: 0;
    }

    & footer {
      display: flex;
      justify-content: end;
      gap: 0.5rem;
      margin-block-start: 2rem;
    }
  }
}

button {
  font-weight: 600;
}