.App {
  max-block-size: 80vw;
  .button-add {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 3rem;
    font-size: 20px;
    font-weight: 600;
    z-index: 9;
  }
}

#popup_new-student {
  inline-size: 550px;
  position: relative;
  z-index: 9;

  .p-progress-spinner {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: inherit;
  }

  #popup__form {
    display: flex;
    flex-direction: column;
    padding-block-start: 1rem;

    & > fieldset {
      border: none;
      padding: 0;
      display: grid;
      grid-template-columns: 140px 1fr;
      gap: 2rem 1rem;
    }

    & footer {
      margin-block-start: 2rem;
      display: flex;
      gap: 0.5rem;
      justify-content: end;
    }
  }
}

button {
  font-weight: 600;
}

.button-delete {
  font-size: 0.8rem;
  block-size: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.p-selectable-row:hover .button-delete{
  visibility: visible;
  opacity: 1;
}